@import url('https://fonts.googleapis.com/css?family=Abel');

.about-cards {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 220px;
    left: calc(50% - 300px);
    display: flex;
}
.card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    background: linear-gradient(#000,grey);
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}
.card:not(:first-child) {
    margin-left: -50px;
}
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}
.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}
.card-title {
    color: white;
    text-align: center;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

